body {
    overflow: hidden;
}

.loginFlex {
    display: flex;
    flex-direction: column;
    margin-top: 0vh;
    margin-left: 0vw;
    align-items: center;
    width: 450px;

}

.flexMiddle {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 450px;
    height: 550px;
    align-items: center;
}

.loginFormInput {
    border: aqua solid 3px;
    border-radius: 10vw;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #283338;
    margin-bottom: 3vh;
    transition: 0.5s;

    color: springgreen;

}

.loginFormInput::placeholder {
    color: springgreen;
    
}

.loginFormInput:hover {
    width: 250px;
}

.loginFormSubmit {
    border: aqua solid 3px;
    border-radius: 10vw;
    width: 100px;
    height: 50px;
    color: springgreen;
    background-color: #283338;
    text-align: center;
    transition: 0.3s;
}

.loginFormSubmit:hover {
    width: 150px;
}

.whiteText {
    color: white;
}

.cbText {
    color: white;
    font-size: 15px
}

.error {
    color: red;
    font-size: 20px;
}

.registerBtn {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 0.3s;
}

.registerBtn:hover {
    border-radius: 10vw;
    border-bottom: aqua solid 3px;
    border-left: aqua solid 3px;
    border-right: aqua solid 3px;
}

.container {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-top: 3px;
    margin-bottom: 12px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #283338;
    border: aqua solid 3px;
    border-radius: 7px;
}
  

.container:hover input ~ .checkmark {
    background-color: black;
}
  
.container input:checked ~ .checkmark {
    background-color: springgreen;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    top: 1px;
    left: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

