div.lowerEnd {
    background-color: #263238;
    color: white;
    max-height: 20vh;
    padding: 70px 0;
    text-align: center;    
}

.leButton {
    color: rgb(31, 31, 31);
    text-decoration: none;
    font-size: 1rem;
    transition: 0.2s;
}

.leButton:hover {
    color: cyan;
    font-size: 1.5rem;
    transition: 0.2s;
}