.lowerEnd {
    background-color: #212121;
    color: white;
    height: 5vh;
    padding: 5vh 0;
    text-align: center;   
    margin-top: 5vh; 
}

.leButton {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.2s;
}

.leButton:hover {
    color: #14FFEC;
    font-size: 1.5rem;
    transition: 0.2s;
}

.lowEnd {
    position: fixed;
    bottom: 0;
    width: 100%;
}