@keyframes resizeButton{
    from {width: 6vw;}
    to {width: 7vw;}
}

.unsortedNavigator {
    background-color: #263238;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 1vw;
    width: 6vw;
    height: 110vh;
    margin-top: 0vh;
    margin-left: 0px;
    margin-bottom: 0;
}

.paddingRight {
    margin-right: 2vw;
}

.navigatorBtn {
    border: 0.2vw solid transparent;
    border-radius: 1vw;
    cursor:pointer;
    background-color: transparent;
    border-right-color: cyan;

    width: 6vw;
    height: 5vh;
    margin-top: 0.2vh;
    padding-top: 0vh;
}

.navigatorBtn:hover {
    animation-name: resizeButton;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}

.lineNavigator {
    padding: 0;
    margin-bottom: 0vh;
    margin-top: 0vh;
    border: 0.2vh solid cyan;
}

.loginBtn {
    margin-top: 60vh;
    margin-left: 0vw;
    width: 7vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    border-top: aqua solid 3px;
    text-align: center;
    cursor: pointer;
}