@keyframes btnAnimation{
    from {background-color: #323232}
    to {background-color: #14FFEC;}
}

body.rechner {
    background-color: #0e0e0e;
    color: white;
    height: 100%;
    margin-top: 0vh;
    margin-left: 0vw;
}


table.rechner {
    padding-left: 1dvw;
    border: 0.2vw solid transparent; 
}

.rechnerBtn {
    border-color: #14FFEC;
    border-radius: 2vw;
    border: 0.2vw solid #14FFEC;
    width: 17dvw;
    height: 12dvh;
    background-color: #323232;
    margin: 0;
    padding: 0;
}

.rechnerBtn:hover {
    border-color: #0D7377;
    animation-name: btnAnimation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


.rechnerOutput {
    background-color: #323232;
    text-align: right;

    margin-left: 1.2dvw;
    padding-top: 0.6vh;
    padding-right: 2.5vw;

    border: 0.2vw solid #14FFEC;
    border-radius: 2vw;

    width: 65.7dvw;
    height: 14dvh;
}

.outputHistory {

    color: white;
    background-color: #323232;
    text-align: center;
    list-style-type: none;

    padding-left: 0vw;
    margin-top: 6dvh;
    margin-left: 3vw;
    width: 25dvw;
    border: 0.2vw solid #14FFEC;
    border-radius: 2vw;
    height: 83vh;


    overflow: hidden;
    overflow-y: visible;
}

.outputHistoryScaled {
    display: none;
    color: white;
    background-color: #323232;
    text-align: center;
    list-style-type: none;

    margin-left: 1.2dvw;
    margin-top: 3dvh;

    width: 91.7dvw;
    border: 0.2vw solid #14FFEC;
    border-radius: 2vw;
    height: 40dvh;


    overflow: hidden;
    overflow-y: visible;
}

.lineOutput {
    border: 0.2vw dashed;
    border-color: #14FFEC;
    width: 24.8vw;
    margin-top: 1.8vw;
}

.lineOutputScaled {
    border: 0.2vw dashed;
    border-color: #14FFEC;
    width: 100dvw;
    margin-top: 1.8vw;
    margin-left: -5dvw;

}

.outputHeadline {
    font-size: 2vw;

}

.rechnerOutputText {
    padding-top: 3.5vh;

}


/*Scale the font depending on the screen size*/
@media only screen and (max-width: 800px) {
    .outputHistory {
        display: none;
    }
    .outputHistoryScaled {
        display: block;
    }
    .rechnerBtn {
        width: 23.7dvw;
    }
    .rechnerOutput {
        width: 93.6dvw;
    }
}

