@keyframes btnAnimation {
    from {background-color: #323232;}
    to {background-color: springgreen;}
    from {color: springgreen;}
    to {color: #323232;}
}

.tableScroller {
    overflow-y: scroll;
    width: 95vw;
    height: 55vh;
    background-color: #323232;

    margin-top: 4vh;
    margin-left: 2.3dvw;
    border-radius: 1vw;
    border: aqua solid 0.1vw;
}

.zusammenfassung {
    margin-top: 1dvh;
    margin-left: 2.3dvw;
    
    font-size: 1.5rem;
    text-align: center;
    color: black;
    background-color: #323232;
    height: 5dvh;
    width: 95dvw;
    border-radius: 1dvw;
    border: aqua solid 0.1vw;
}

#submitBtn {
    background-color: #323232;
    color: springgreen;
    border: aqua solid 0.2vw;
    border-radius: 1vw;
    height: 4.3vh;
}

#submitBtn:hover {
    animation-name: btnAnimation;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    border-color: #0D7377;
}

.inputDiv {
    margin-left: 3.5vw;
}

.hedding {
    color: white;
    margin-left: 23dvw;
}

.valueTable {
    margin-left: 1vw;
    width: 79vw;
}

.value {
    text-align: right;
}

.minus {
    color: red;
}

.plus {
    color: aqua;
}

.reason {
    text-align: left;
    padding-left: 5vw;
}

.date {
    text-align: left;
}
