@font-face {
    font-family: SansitaSwashed;
    src: url(../SansitaSwashed-VariableFont_wght.ttf)
}

body{
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

.sansitaFont {
    font-family: SansitaSwashed;
}

.spacer5vhWhite {
    background-color: white;
    height: 5vh;
    margin: 0;
}

.spacer5vhBlack {
    background-color: black;
    height: 5vh;
}

.centerText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.heading {
    font-size: 7vh;
}

.subHeading {
    font-size: 4vh;
}

.minus3vh {
    margin-top: -3vh;
}

.plus3vh {
    margin-top: 3vh;
}

